@use 'sass:math';

@keyframes fly {
  0% {transform: translateY(0) rotateZ(-1deg); filter: hue-rotate(0);}
  50% {transform: translateY(-1 * calc(100vw / 60)) rotateZ(0deg); filter: hue-rotate(45deg);}
  100% {transform: translateY(0) rotateZ(-1deg); filter: hue-rotate(0);}
}

@keyframes greeting {
  0% {transform: translate(0, 0) rotateZ(-30deg);}
  50% {transform: translate(0, 0) rotateZ(30deg);}
  100% {transform: translate(0, 0) rotateZ(-30deg);}
}

@keyframes talking {
  0% {transform: rotateX(0) rotateZ(0);}
  25% {transform: rotateX(90deg) rotateZ(5deg);}
  40% {transform: rotateX(0) rotateZ(0);}
  60% {transform: rotateX(90deg) rotateZ(5deg);}
  100% {transform: rotateX(0) rotateZ(0);}
}

.robot {
  $robot: &;

  $originalWidth: 387;
  $originalHeight: 680;

  position: relative;
  min-width: 25%;
  aspect-ratio: math.div($originalWidth, $originalHeight);

  &_head_wrapper {
    position: absolute;
    left: percentage(math.div(27, $originalWidth));
    top: 0;
    width: 100%;
    height: 100%;

    #{$robot}_head {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;

      svg {
        width: percentage(math.div(361, $originalWidth));
        height: percentage(math.div(385, $originalHeight));
      }
    }

    #{$robot}_mouth {
      position: absolute;
      left: percentage(math.div(153, $originalWidth));
      top: percentage(math.div(308, $originalHeight));
      width: 100%;
      height: 100%;
      display: flex;

      svg {
        width: percentage(math.div(72, $originalWidth));
        height: percentage(math.div(40, $originalHeight));
      }
    }
  }

  &_body_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    #{$robot}_body {
      position: absolute;
      left: percentage(math.div(96, $originalWidth));
      top: percentage(math.div(394, $originalHeight));
      width: 100%;
      height: 100%;
      display: flex;

      svg {
        width: percentage(math.div(248, $originalWidth));
        height: percentage(math.div(184, $originalHeight));
      }
    }

    #{$robot}_righthand {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: percentage(math.div(392, $originalHeight));
      display: flex;

      svg {
        width: percentage(math.div(129, $originalWidth));
        height: percentage(math.div(75, $originalHeight));
        transform: translate(-7%, -50%) rotateZ(-105deg);
        transform-origin: 100% 75%;
      }
    }
  }

  &_shadow {
    position: absolute;
    left: percentage(math.div(97, $originalWidth));
    top: percentage(math.div(585, $originalHeight));
    width: 100%;
    height: 100%;
    display: flex;

    svg {
      width: percentage(math.div(231, $originalWidth));
      height: percentage(math.div(95, $originalHeight));
    }
  }

  &__flying {
    #{$robot}_head_wrapper, #{$robot}_body_wrapper {
      animation: fly infinite 5s ease-in-out;
    }
  }

  &__greeting {
    #{$robot}_righthand svg {
      animation: greeting infinite 1s ease-in-out;
    }
  }

  &__talking {
    #{$robot}_mouth svg {
      animation: talking infinite 1s linear;
    }
  }
}
