.button {
  background: #06CFF1;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: calc(100vw / 120);
  padding: calc(100vw / 160) calc(100vw / 80);
  font-family: 'Anonymous Pro';
  font-size: calc(100vw / 40);
  font-style: italic;
  font-weight: 600;
  transition: all 0.2s ease-in-out;

  &:hover, &:focus {
    background: lighten(#06CFF1, 10%);
  }

  &:focus {
    outline: none;
  }

  &:active {
    background: darken(#06CFF1, 5%);
  }
}
