@keyframes show {
  0% {transform: scale(0); opacity: 0;}
  100% {}
}

.content-buttons {
  animation: show 1s;
  display: flex;
  margin-top: calc(100vw / 40);
  justify-content: center;
  gap: calc(100vw / 60);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
