@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.content {
  flex-grow: 1;
  border: calc(100vw / 480) solid #06CFF1;
  border-radius: calc(100vw / 15);
  border-bottom-right-radius: 0;
  background: #fff;
  padding: calc(100vw / 40) calc(100vw / 40) calc(100vw / 40) calc(100vw / 20);
  box-sizing: border-box;
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-size: calc(100vw / 60);
  z-index: 1;
}

.cursor {
  color: #06CFF1;

  animation: blink infinite 0.5s ease-in-out;
}
