@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.content {
  position: absolute;
  top: 50%;
  right: 64px + 387px + 64px;
  width: 1300px;
  border: 4px solid #06CFF1;
  border-radius: 128px;
  border-bottom-right-radius: 0;
  background: #fff;
  padding: 48px 48px 48px 96px;
  box-sizing: border-box;

  font-family: 'Anonymous Pro';
  font-style: italic;
  font-size: 32px;
  // text-align: center;

  transform: translateY(-50%);
}

.cursor {
  color: #06CFF1;

  animation: blink infinite 0.5s ease-in-out;
}
