@import '../variables.scss'; // TODO: should use "@use" instead of "@import"

@keyframes fly {
  0% {transform: rotateZ(0);}
  25% {transform: rotateZ(5deg);}
  50% {transform: rotateZ(0);}
  75% {transform: rotateZ(-5deg);}
  100% {transform: rotateZ(0);}
}

@keyframes show {
  0% {transform: scale(0); opacity: 0;}
  100% {}
}

a {
  color: #06CFF1;
  cursor: pointer;
}

.app {
  $app: &;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  &_content {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 2%;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  &_copyright {
    position: absolute;
    top: calc(100vw / 240);
    right: calc(100vw / 120);
    font-size: 40px;
  }

  &__start {
    #{$app}_content {
      align-items: center;
      justify-content: center;
    }
  }
}

.copyright {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, 0.9);
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &_close {
    position: absolute;
    top: calc(100vw / 240);
    right: calc(100vw / 120);
    font-size: 40px;
    color: #fff;
  }

  &_content {
    color: #fff;
    font-family: 'Anonymous Pro';
    font-style: italic;
    font-size: calc(100vw / 60);
    padding: calc(100vw / 40) calc(100vw / 40) calc(100vw / 40) calc(100vw / 20);
    max-width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;

    @media (max-width: 768px) {
      font-size: calc(100vw / 60 * $mobileScalingFactor);
    }
  }

  &__visible {
    z-index: 2;
    opacity: 1;
  }
}

.highlight {
  font-weight: 600;
  font-size: calc(100vw / 48);
  color: #06CFF1;
  display: inline-block;

  animation: fly infinite 2s linear;

  @media (max-width: 768px) {
    font-size: calc(100vw / 48 * $mobileScalingFactor);
  }
}

.qr-container {
  text-align: center;
  margin-top: calc(100vw / 40);
}

.qr {
  width: calc(100vw / 5.189);
  height: calc(100vw / 5.189);
  animation: show 2s;
}

.start {
  text-align: center;

  &_school {
    font-size: calc(100vw / 48);

    @media (max-width: 768px) {
      font-size: calc(100vw / 48 * $mobileScalingFactor);
    }
  }

  &_title {
    font-size: calc(100vw / 40);
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: calc(100vw / 40 * $mobileScalingFactor);
    }
  }
}
