@import '../variables.scss'; // TODO: should use "@use" instead of "@import"

@keyframes fly {
  0% {transform: rotateZ(0);}
  25% {transform: rotateZ(5deg);}
  50% {transform: rotateZ(0);}
  75% {transform: rotateZ(-5deg);}
  100% {transform: rotateZ(0);}
}

@keyframes show {
  0% {transform: scale(0); opacity: 0;}
  100% {}
}

.app {
  $app: &;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  &_content {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 2%;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  &__start {
    #{$app}_content {
      align-items: center;
      justify-content: center;
    }
  }
}

.highlight {
  font-weight: 600;
  font-size: calc(100vw / 48);
  color: #06CFF1;
  display: inline-block;

  animation: fly infinite 2s linear;

  @media (max-width: 768px) {
    font-size: calc(100vw / 48 * $mobileScalingFactor);
  }
}

.qr-container {
  text-align: center;
  margin-top: calc(100vw / 40);
}

.qr {
  width: calc(100vw / 5.189);
  height: calc(100vw / 5.189);
  animation: show 2s;
}

.start {
  text-align: center;

  &_school {
    font-size: calc(100vw / 48);

    @media (max-width: 768px) {
      font-size: calc(100vw / 48 * $mobileScalingFactor);
    }
  }

  &_title {
    font-size: calc(100vw / 40);
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: calc(100vw / 40 * $mobileScalingFactor);
    }
  }
}
