/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Anonymous Pro';
  src: url('./assets/fonts/anonymous-pro-regular.ttf');
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: italic;
  src: url('./assets/fonts/anonymous-pro-regular-italic.ttf');
}

@font-face {
  font-family: 'Anonymous Pro';
  src: url('./assets/fonts/anonymous-pro-regular.ttf');
}

@font-face {
  font-family: 'Anonymous Pro';
  font-weight: 600;
  src: url('./assets/fonts/anonymous-pro-bold.ttf');
}

@font-face {
  font-family: 'Anonymous Pro';
  font-weight: 600;
  font-style: italic;
  src: url('./assets/fonts/anonymous-pro-bold-italic.ttf');
}
